@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores:
- Primario: #0067A3
- Dark: #2A4657  */

:root{
    background-color:#0067A3 ;
}

.bg-trale {
    background-color: #0067A3
}

.text-trale{
    color: #0067A3
}

.wordmark-color {
    color: #2A4657;
}

.bg-wordmark {
    background-color: #2A4657;
}

.list-move{
    transition: 3s;
}

.task-done{
    text-decoration:line-through;
}