@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colores:
- Primario: #0067A3
- Dark: #2A4657  */

:root{
    background-color:#445D73 ;
}

.bg-trale {
    background-color: #445D73
}

.fa-trash {
    color: gray;
    margin-left: .75em;
    cursor: pointer;
}

.fa-sort{
    margin-right: .5em;
    cursor: move;
}

.fa-check{
    color: #445D73;
    margin-left: .5em;
    cursor: pointer;
}

.task-done{
    text-decoration:line-through;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
}

.task-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.board-color-trale{
    border-top: 3px solid red;
    border-radius: 4px;
}

.text-bg-nav {
    color: #F3F3F3;
}

.border-bg-trale {
    border-color: #445D73;
}

.text-trale{
    color: #445D73
}

.wordmark-color {
    color: #445D73;
}

.bg-wordmark {
    background-color: #445D73;
}

.list-move{
    transition: 3s;
}

.task-done{
    text-decoration:line-through;
}